.editorconfig
.gitattributes
.github/**
.gitignore
.release
.travis.yml
.vscode-test/**
.vscode/**
*.vsix
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
docs/**
icon/**
node_modules/**
out/**
out/**/*.map
out/test/**
src/**
test-workspaces/**
TODO.md
tslint.json
types/**
webpack.config.js
